/* inicializamos los margenes por defecto de la pagina */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.conteiner{
    background: rgb(73, 65, 65);
    width: 90%;
    box-shadow: inset  6px , 8px 3px black;
    height: auto;
    margin: 5px auto;
}
.header-principal{
   display: flex;
   width: 100%;
   height: 150px;
   /* background: rgb(136, 19, 19); */
   box-shadow: 5px, 4px 10px inset black;
   flex-direction:row;
   

}

.logo{
    display: flex;
    margin: 10px 10px;
    min-width: 200px;
    align-items: center;
    justify-content: center;
    border-bottom: 5px solid white;
    /* border:  1px solid #000;  */
    
}
.img-logo{
    border-radius: 15px;
    padding-bottom:5px ;
}
.banner-cabecera{
    flex: 3;
    margin: 10px;
    /* border: 1px solid #000; */
    background: url("/INGLES/img/banner-cabecera.jpg")no-repeat center/100%;
    border-radius: 15px;
    text-align: center;
}
.banner-cabecera h1{
    margin-top: 75px;
    font-size: 50px;
    color: rgb(62, 226, 29);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow:rgb(43, 43, 44) 4px 0;
}
/*lineas de separacion de la cabecera y el menu */
hr{
    margin: 10px;
    border: 5px solid #9E3A08;
}
/* a la ultima linea de la cabecera le ponemos doferentes parametros  */
hr:last-of-type{
    width: 80%;
    margin: auto;
    margin-top: 10px;
}
#menu{
    width: 65%;
    margin: auto;
}
.list-menu{
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 5px;
    box-sizing: border-box;
}
.items-menu{
    flex: 1;
    padding: 5px;
    text-align: center;
    /* border-top: 3px solid white;  */
    border-bottom: 3px solid white; 
    position: relative;
     overflow: hidden; 
    
}
.lista-menu-items{
    /* display:none; */
    position:absolute;
    list-style: none;
    background: #1D1D1E;
    top: 100%;
}
.items{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 20px;
    color: white;
    text-decoration: none;
    text-shadow: 5px 7px 3px #15100F;
}
/*creamos los estilos con el hover para que  el menu tenga bordes*/
.items-menu:hover{
    background: #0F0F0F;
    /* border: 3px solid white; */
    border-top: none;
    border-radius: 3px;
    border-bottom: none;
    border-top: 3px solid white; 
    border-left: 3px solid white;
    border-right: 3px solid white;
    transform: scale(1.3);
    box-shadow: #15100F 5px 5px  4px ;
    overflow: visible;
    z-index: 1;
}

.verbo-to-be{
    /* height: 500px; */
    display: flex;
    background: white;
    width: 100%;
    border-top: 2px solid black;
    border-bottom: 5px solid black;
    margin: 10px 0;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 0;
}
.desc{
    max-width: 700px;
    font-size: 18px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-right: 25px;
}
.desc p{
    text-align: justify;
    margin: 15px;

}
.List-Pronouns {
    list-style:circle;
    float: left;
}
.List-Pronouns li{
    margin: 5px;
    padding: 5px;
}
span{
    font-weight: bold;
    text-decoration: underline;
    padding: 5px;

}
.oraciones{
    float: left;
    padding-left: 20px;
    
}
.oraciones .sentences{
    padding: 2.5px;
    /* padding: ; */
}
.parrafo::first-letter{
    font-size: 30px;
    text-transform: uppercase;
    margin-top: 5px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: 5px;
    float: left;
    line-height: 25px;
    padding-right: 5px;
}
.desc h2{
    text-align: center;
    text-decoration:underline;
}
.pie-tabla{
    background: #0F0F0F;
}
.boton{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: aliceblue;
    text-decoration: none;
    width: 15%;
    height: 10px;
    background: #0F0F0F;
}
.col > .boton:hover{
    transform:scale3d(1.5, 1.5, 1.9);
    text-decoration: dashed;
}

.lista-pronombres{
    /* border-collapse: collapse; */
    width: 100%;
    font-size: 16px;
    
}
/*damos los estilos de los bordos de las filas  para la tabla*/ 
.lista-pronombres tr{
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}
.lista-pronombres thead tr{
    background: #171C8F;
    font-size: 18px;
    font-weight: bold;
    border-bottom: 2px solid black;
}
.lista-pronombres tbody tr:nth-of-type(odd){
    background: lightblue;
}
.lista-pronombres th, td{
    padding: 0.70rem 0.75rem;
    text-align: center;
    font-weight: bold;
}
.componentes{
    color: black;
    display: grid;
    max-width: 100%;
    background:ivory ;
    height:630px;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows: 56px 3fr 1fr;
    grid-column-gap: 10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    margin-left: 10px;
    margin-right: 10px;
    /* opacity: 0.7; */
    border: 1px solid black;
}
.contenido{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    /* align-self: flex-end; */
    padding: 10px;
    /* margin: 5px; */
    height:500px;
    text-align: justify;
    font-size: 18px;
    border: #0F0F0F 1px solid;
    
}
.contenido>h2{
    text-align: center;
    text-decoration: underline;
    text-shadow: 3px 3px 5px #0F0F0F;
}
/* .titulo>h2{
    font-size: 40px;
    text-shadow: 5px 5px  black -5px -5px  black; 
} */
.contenido>p::first-letter{
    float: left;
    font-size: 60px;
    line-height: 35px;
    margin-left: 5px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #320505;
    
    
    
}
.imagen{
    flex:2;
    width: 150px;
    max-height: 130px;
    border: 2px solid black;
    box-shadow: 5px 5px 3px #0F0F0F; 
    align-self: center;
    margin: 10px;
    
}
.titulo{
    text-align: center;
    align-self:start ;
    grid-column: 1/4;
    background: #320505;
    /* grid-column-start: 4; */
    height:auto ;
    border: 1px solid #0F0F0F;
    color: white;
    text-decoration:underline;
    /* text-shadow: 3px 3px 7px ; */   
}
.button{
    text-align: center;
    align-self:start ;
    grid-column: 1/4;
    background: #320505;
    /* grid-column-start: 4; */
    height:auto ;   
    border: 1px solid #0F0F0F;
    /* text-decoration:underline; */
    margin-bottom:10px;
}
    
.btn-click{
    min-height: max-content;
    /* height: 40px; */
    width: 80px;
    color: #000;
    /* outline-style:double; */
    /* outline-offset:5px ; */
    background-color: rgb(206, 201, 201);
    border: 2px solid #0F0F0F;
    border-radius: 5px;
    text-align: center;
    /* margin: 10px; */
    align-content: center;
    padding: 5px;
    align-self:center;
    text-decoration: none;

}
.btn-click:hover{
    /* content:descripcion; */
    background: none;
    border: none;
    /* outline-style:double;
    outline-offset:2px ; */
    transform:scale(1.8);
    text-shadow:#8f8e8e 2px 2px 2px;
    color: white;

}
#Tania-Mi-amor{
    background: rgb(202, 138, 138);
    height: 350px;
    width: 90%;
    font-size: 25px;
    margin: 10px auto;
}
#Tania-Mi-amor .etiqueta {

    /* padding-left: 20px; */
    margin-left: 40px;
}


footer{
    height: 150px;
    background: wheat;
     border: #0F0F0F 1px solid;
    margin: 10px;
}


